body, html {
    padding: 10px 10px 0px 10px;
}

.elements-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap
}

.add-form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    background-color: gray;
    border-radius: 15px;
    padding: 15px;
}

.content-area {
    height: calc(5.5rem + calc(var(--bs-border-width) * 2)) !important
}